*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
  zoom:90%
}
a{
    text-decoration-line: none;
  }
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}
html{
  scroll-behavior: smooth;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  /* display: none; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #53b2ea;
}
nav{
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255) ;
    display: flex;
    position: absolute;
  position: fixed;
  z-index: 1000;
}
nav.scrolled{
  background: linear-gradient(120deg, rgba(22, 31, 35, 0.992) 30%, rgba(0, 0, 0, 0.992) 70%)!important;
color: white!important;



}
/* #signin{
  color:#000000
}
nav.scrolled #signin{
  color: white;
} */
#searcha{
  color: black;
}
nav.scrolled #searcha{
  color: white!important;
}
nav.scrolled ul li {
  color: #ffffff; /* Kaydırıldığında renk */
}
nav.scrolled ul li::after {
  background: #ffffff; /* Kaydırıldığında renk */
}
nav.scrolled h1{
  color: #FFFFFF;
}

  nav.scrolled .nav-flex2  {
 color: #ffffff;
} 
.nav-flex1{
    width:40%;
    height: 80px;



}
.nav-flex3{
    display: flex;
    width:40%;
    height: 80px;
    /* background-color: #1096ea; */
    
  
}
.nav-flex2{
    width:20%;
    height: 80px;
    /* background-color: bisque; */

}
.nav-flex1 ul{
    display: flex;

    list-style-type: none;
    padding-left:270px;

  
}
.nav-flex1 ul li {
    margin-top: 30px;
    margin-left:50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor:pointer;
    color: #000000;
    
}
.nav-flex1 ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000000;
    transition: width .5s;
  }
  
  .nav-flex1 ul li:hover::after {
    width: 100%;
    
  }
.nav-flex3 ul{
    width: 38%;
    display: flex;
    list-style-type: none;
    /* background-color: aquamarine; */
   
 
    

}
.nav-flex3 ul li {
 position:relative;
right:80px;
   margin-left: 50px;
   margin-top:30px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   cursor:pointer;
   color: #000000;
   /* background-color: blanchedalmond; */

}
.nav-flex3 ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000000;
    transition: width .5s;
  }
  
  .nav-flex3 ul li:hover::after {
    width: 100%;
    
  }
.nav-flex3 button{
    box-sizing: border-box;
width: 143px;
height: 32px;
cursor: pointer;
font-family: 'Inter', sans-serif;

font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
text-align: center;
letter-spacing: -0.02em;

color: #000000;
border: 1px solid rgba(15, 15, 15, 0.071);
border-radius: 15px;
}
.nav-flex3 button:hover{
    border: 1px solid rgb(18, 18, 18);
    transition:0.7s;

}
.nav-flex3A{
width:40%;
padding-top: 25px;
height: 80px;
flex-wrap: wrap;
display: flex!important;
justify-content: space-between;
cursor: pointer;

}
.nav-flex3A i {
    font-size:19px;
    padding-top:5px;
}

.nav-flex2 h1{
    position: absolute;
    width: 170px;
    height: 65px;
    left:635px;
  
    /* bottom:0px; */
    /* top:43px; */
    font-family: 'Great Vibes', cursive;
    font-style: normal;
    font-weight: 400;
    font-size:70px;
    /* line-height:0px; */
    letter-spacing: -0.02em;
    
    color: #000000;
    
}
.FirstImage{
    /* margin-top:200px; */
    padding-top: 200px;
      width:99.5%;
      height:750px;
      /* background-color: #191818; */
      display: flex;
    }
   
    .FirstImage3{
      width: 45%;
      height: 500px;
     padding-top: 50px;
     background-color: #ffffff;
    }
    .FirstImage-text{
      width: 90%;
      height: 300px;
      /* background-color: #d5d9d9; */
      text-align: center;
      padding-top:50px;
    }
    .FirstImage-text h1{
      text-align: center;
      font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 48.41px
    }
    .FirstImage-text p{
     margin-top:15px;
     font-size:16px;
     line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
    }
    .FirstImage1{
      width:55%;
      position: relative;
      height: 500px;
      background-color: #ffffff;
    
    
    }
    
    .FirstImage1 img{
        top:20px;
      position:relative;
      width: 20%;
    }
    .FirstImage2{
    position: absolute;
      margin-top: 20px;
      margin-left:30px;
      bottom:50px;
      /* width: 55%; */
      width: 605.14px;
      height: 446.4px;
      overflow: hidden;
     /* padding-top: 50px; */
     background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fdf2 100%);
     border-radius: 30px;
    }
    
    .FirstImage2 img{
        width:110%;
        /* margin-left: 80px; */
    }
    #contact {
        width: 100%;
        height: 100%;
        /* background-color: #000; */
        background: linear-gradient(120deg, rgba(22, 31, 35, 0.992) 30%, rgba(0, 0, 0, 0.992) 70%)!important;
      }
      
      .section-header {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
   font-weight: 500;
   font-size: 46px;
   line-height: 19px;
   cursor:pointer;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 6px;
      }
      
      .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        max-width: 840px;
      }
      
      /* Left contact page */
      .form-horizontal {
        /*float: left;*/
        max-width: 400px;
        font-family: "Lato";
        font-weight: 400;
      }
      
      .form-control,
      textarea {
        max-width: 400px;
        background-color:#fdfdfd;   
        margin-top: 10px;
        color: #fff;
        letter-spacing: 1px;
      }
      
      .send-button {
        margin-top: 15px;
        height: 34px;
        width: 400px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }
      
      .alt-send-button {
        width: 400px;
        height: 34px;
        transition: all 0.2s ease-in-out;
      }
      
      .send-text {
        display: block;
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        letter-spacing: 2px;
      }
      
      .alt-send-button:hover {
        transform: translate3d(0px, -29px, 0px);
      }
      
      /* Begin Right Contact Page */
      .direct-contact-container {
        max-width: 400px;
      }
      
      /* Location, Phone, Email Section */
      .contact-list {
        list-style-type: none;
        margin-left: -30px;
        padding-right: 20px;
      }
      
      .list-item {
        line-height: 4;
        color: #fffefe;
      }
      
      .contact-text {
        font: 300 18px "Lato", sans-serif;
        letter-spacing: 1.9px;
        color: #ffffff;
      }
      
      .place {
        margin-left: 62px;
      }
      
      .phone {
        margin-left: 56px;
      }
      
      .gmail {
        margin-left: 53px;
      }
      
      .contact-text a {
        color: #ffffff;
        text-decoration: none;
        transition-duration: 0.2s;
      }
      
      .contact-text a:hover {
   color:#19a4e5;   
   
        text-decoration: none;
      }
      
      /* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color:#aaa;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color:#1096ea;
  }
  
  .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
    
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px "Oswald", sans-serif;
    /* color: #bf2e97; */
  color:#ffffff;
  
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgb(255, 255, 255);
  }
      /* Begin Media Queries*/
      @media screen and (max-width: 850px) {
        .contact-wrapper {
          display: flex;
          flex-direction: column;
        }
        .direct-contact-container,
        .form-horizontal {
          margin: 0 auto;
        }
      
        .direct-contact-container {
          margin-top: 60px;
          max-width: 300px;
        }
        .social-media-list li {
          height: 60px;
          width: 60px;
          line-height: 60px;
        }
        .social-media-list li:after {
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
      }
      
      @media screen and (max-width: 569px) {
        .direct-contact-container,
        .form-wrapper {
          float: none;
          margin: 0 auto;
        }
        .form-control,
        textarea {
          margin: 0 auto;
        }
      
        .name,
        .email,
        textarea {
          width: 280px;
        }
      
        .direct-contact-container {
          margin-top: 60px;
          max-width: 280px;
        }
        .social-media-list {
          left: 0;
        }
        .social-media-list li {
          height: 55px;
          width: 55px;
          line-height: 55px;
          font-size: 2rem;
        }
        .social-media-list li:after {
          width: 55px;
          height: 55px;
          line-height: 55px;
        }
      }
      
      @media screen and (max-width: 410px) {
        .send-button {
          width: 99%;
        }
      }
      footer{
        width: 100%;
        /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(120deg, rgba(22, 31, 35, 0.992) 30%, rgba(0, 0, 0, 0.992) 70%)!important; */
    
        /* height: 50vh; */
      }
      .A{
        width:90%;
        /* height:50vh; */
        margin: auto;
        padding-top: 30px;
        /* background-color: #008296; */
        display: flex;
      }
      .B{
        width: 20%;
        /* background-color: #0fd3a2; */
        height: 50vh;
      }
      .B h1{
        font-size:70px;
        font-family: 'Great Vibes', cursive;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        
      }
      .B p{
        font-family: 'Poppins', sans-serif;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      }
      .C{
        width: 100%;
        /* background-color: #81370f; */
        /* height: 50px; */
        margin-top:50px;
        text-align: center;
      }
      .C i{
        /* padding-top:5px; */
        font-size:28px;
        margin:15px;
        color:#ffffff;
      }
      .D{
        width: 20%;
        /* background-color: #81d30f; */
        /* height: 50vh; */
        text-align: center;
        color: #ffffff;
      
      }
      .D h2{
        font-size:26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
      .D ul{
       list-style-type: none;
      
      }
      .D ul li{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top:10px;
      }
      
      .E{
        width: 20%;
        /* background-color: #0f33d3; */
        /* height: 50vh; */
        text-align: center;
        color: #ffffff;
      
      }
      .E h2{
        font-size:26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
      .E ul{
       list-style-type: none;
      
      }
      .E ul li{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top:10px;
      }
      .F{
        width: 20%;
        /* background-color: #a50fd3; */
        /* height: 50vh; */
        text-align: center;
        color: #ffffff;
      }
      .F h2{
        font-size:26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
      .F ul{
       list-style-type: none;
      
      }
      .F ul li{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top:10px;
      }
      .H{
        width: 20%;
        /* background-color: #0fd3d3; */
        /* height: 50vh; */
        text-align: center;
        color: #ffffff;
      }
      .H h2{
        font-size:26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
      .H ul{
       list-style-type: none;
      
      }
      .H ul li{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top:10px;
      }
      .G{
       
        background-color: #ffffff;
        margin:40px auto;
        border-radius: 10px;
        /* Auto layout */
        width: 196px;
        /* height: 51px; */
      display: flex;
      border: 1px solid #BDBDBD;
      border-radius: 60px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 14px 20px;
      gap: 63px;
      cursor: pointer;
      }
      .G h2{
        font-size:14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #000000;
      }
    